{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Module" />

<f:section name="Content">
    <h1>{folder.speakingName}</h1>
    <f:flashMessages />

    <f:if condition="{folder.accessible}">
        <f:then>
            <f:if condition="{folder.protected}">
                <f:then>
                    <div class="alert alert-warning">
                        <strong><core:icon identifier="actions-lock" size="small" /> <f:translate key="folder.show.folder_protected" /></strong><br>
                        <f:if condition="{folder.ownProtection}">
                            <f:then>
                                <f:translate key="folder.show.own_protection_exists" />
                            </f:then>
                            <f:else>
                                <f:format.raw>
                                    <f:translate key="folder.show.inherited_protection" arguments="{0 : '{folder.protection.folderObject.speakingName -> f:link.action(action : \'show\', arguments : \'{id : folder.protection.folderObject.combinedIdentifier}\')}'}" />
                                </f:format.raw>
                            </f:else>
                        </f:if>
                    </div>
                </f:then>
                <f:else>
                    <div class="alert alert-success">
                        <strong><core:icon identifier="actions-unlock" size="small" /> <f:translate key="folder.show.folder_not_protected" /></strong>
                    </div>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <div class="alert alert-danger">
                <strong><core:icon identifier="actions-lock" size="small" /> <f:translate key="folder.show.folder_no_access" /></strong>
            </div>
        </f:else>
    </f:if>

    <div class="panel panel-default">
        <div class="panel-body">
            <f:if condition="{folder.accessible}">
                <f:then>
                    <f:if condition="{folder.protected}">
                        <f:then>
                            <div style="margin-top: 15px;">
                                <f:render partial="Protection/Properties" arguments="{protection : folder.protection}" />
                            </div>
                        </f:then>
                        <f:else>
                            <f:if condition="{folder.protection}">
                                <f:then>
                                    <f:if condition="{folder.ownProtection}">
                                        <f:then>
                                            <f:translate key="folder.show.own_protection_no_conditions" />
                                        </f:then>
                                        <f:else>
                                            <f:format.raw>
                                                <f:translate key="folder.show.inherited_protection_no_conditions" arguments="{0 : '{folder.protection.folderObject.speakingName -> f:link.action(action : \'show\', arguments : \'{id : folder.protection.folderObject.combinedIdentifier}\')}'}" />
                                            </f:format.raw>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else><f:translate key="folder.show.no_own_protection" /></f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{folder.protection}">
                        <f:then>
                            <f:translate key="folder.show.inaccessible_with_empty_protection" /><br>
                            <f:translate key="folder.show.inaccessible_protected_by_default" />
                        </f:then>
                        <f:else>
                            <f:translate key="folder.show.inaccessible_no_protection" /><br>
                            <f:translate key="folder.show.inaccessible_protected_by_default" />
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <div class="panel-body">
            <f:if condition="{folder.ownProtection}">
                <f:then>
                    <f:link.action controller="Protection" action="edit" arguments="{protection : folder.ownProtection}" class="btn btn-default">
                        <core:icon identifier="actions-open" size="small" /> <f:translate key="folder.show.edit_protection" />
                    </f:link.action>
                    <f:link.action controller="Protection" action="delete" arguments="{protection : folder.ownProtection}" class="btn btn-danger">
                        <core:icon identifier="actions-edit-delete" size="small" /> <f:translate key="folder.show.delete_protection" />
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:link.action controller="Protection" action="new" arguments="{combinedIdentifier : folder.combinedIdentifier}" class="btn btn-default">
                        <core:icon identifier="actions-add" size="small" /> <f:translate key="folder.show.create_protection" />
                    </f:link.action>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>