<f:layout name="Module" />

<f:section name="Content">
    <h2><f:translate key="folder.show.heading" /> <span class="text-info">{folder.name}</span> <f:translate key="protection.edit.heading_suffix" /></h2>

    <f:form action="update" object="{protection}" objectName="protection">
        <f:render partial="Protection/FormFields" arguments="{_all}" />
        <div>
            <f:link.action action="show" controller="Folder" arguments="{id : protection.folderObject.combinedIdentifier}" class="btn btn-default"><f:translate key="general.discard" /></f:link.action>
            <f:form.button type="submit" class="btn btn-success"><f:translate key="protection.edit.save" /></f:form.button>
        </div>
    </f:form>
</f:section>