<f:render partial="Pagination" arguments="{arguments : '{account : account}', pagination : pagination}" />
<table class="table table-striped">
    <thead>
    <tr>
        <th>Post-Id</th>
        <th>Datum</th>
        <th>Text</th>
        <th>Bilder</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{posts}" as="post">
        <f:render partial="Post/Show/Post" arguments="{post : post.post, postLink : post}" />
    </f:for>
    </tbody>
</table>
<f:render partial="Pagination" arguments="{arguments : '{account : account}', pagination : pagination}" />