<f:layout name="Module" />

<f:section name="Content">
    <h2><f:translate key="file_storage.edit.heading" arguments="{0: storage.name}" /></h2>

    <f:form action="update" arguments="{fileStorageUid : fileStorage.uid}">
        <f:render partial="FileStorage/FormFields" arguments="{fileStorage : fileStorage}" />

        <div>
            <f:link.action action="show" controller="Folder" arguments="{id : id}" class="btn btn-default">
                <f:translate key="file_storage.edit.discard" />
            </f:link.action>
            <f:form.button type="submit" class="btn btn-success"><f:translate key="file_storage.edit.save" /></f:form.button>
        </div>
    </f:form>
</f:section>